header {
    background-color: darkred;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center; 
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

h1, a {
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-left: 1cm;
    margin-top: 1cm;
}

a {
    text-decoration: none;
}

pre {
    display: block; 
    text-align: right;
}
