* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background-color: darkred;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
    align-items: center; /*mak item in center up side down*/
    padding: 0 50px;
    

}



nav ul li {
    display: inline;/* put item in a line */
}

nav ul li a {
    color: aqua;
    text-decoration: none;
    padding: 10px 15px;  /*space between items */

}
